---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Andromeda Pharma">
    <div class="relative">
        <img
            src="/aboutImg.png"
            alt="main-hero-image"
            class="h-[90vh] w-full object-cover"
        />
        <div
            class="hero-text absolute top-[46%] translate-y-[-50%] p-10 flex flex-col gap-4"
        >
            <h1 class="text-4xl w-[45%] text-gray-800 leading-snug">
                Advancing Health, Enriching Lives. <span class="font-semibold">
                    Andromeda Pharma
                </span>, Bringing Affordability to Medicine
            </h1>
            <p class="text-base text-gray-600 w-[40%]">
                We are a pharmaceutical company dedicated to making healthcare accessible for all. We prioritize affordability, developing innovative medicines and treatments that empower individuals to lead healthier lives. 
            </p>
            <a
                href="/about"
                class="bg-white p-4 text-center text-black font-medium max-w-fit rounded-sm hover:bg-blue-200 ease-in duration-200"
                >Know More</a
            >
        </div>
    </div>
    <div
        class="text-left flex flex-col gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
        <h2 class="text-center text-3xl text-gray-700 font-bold">Our Story</h2>
        <p>
            Every Great Organisation has an enduring purpose and a clear vision which creates a path to traverse for the organisation and serve as a guiding principle. Our purpose is simple yet powerful which focuses on caring for life.
            We strongly believe that our patients put their health needs in our hands and rely on us for quality and affordable medicines. So it’s our utmost responsibility to live up to the expectations and even go beyond to fulfil the needs of our patients.
            Each one of us strives to contribute directly or indirectly towards making an impact and providing the much needed Solace from sufferings and pain of people we serve.
           
        </p>
        <p>
            Andromeda started in year 2011 with the convergence of likely minded peoples towards a similar goal of caring for life. Since inception the philosophy has been deeply rooted in quality care & this ideology has kept us alive and progressing even during the testing times.
            It is this noble and uplifting purpose in mind with which each one of us comes to work at Andromeda.
            For us greatest asset has been our employees and it is in them we place our trust and shoulder with them the organization’s corporate responsibility & uphold strongly the organisation’s ideals and values.
        </p>
        <p>
            In coming times our mission would be to touch more lives and serve them by providing quality products at affordable price which is the fundamental basis and Organization’s mission.
            We also promise an innovative line of products to serve mankind while encompassing the Environmental Synergy in Process and Compassion as our vehicle.
        </p>
    </div>
    <h2 class="text-center text-3xl text-gray-700 font-bold">Our Values</h2>
    <div class="grid grid-cols-3 grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700">
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
    </div>

    <div
        class="py-10 px-10 bg-[#116A7B] w-full flex justify-between items-center"
    >
        <div class="flex gap-5 items-center justify-center">
            <img src="/Vectorbanner.png" alt="" class="h-10" />
            <div class="text-white">
                <h1 class="text-2xl">Bringing Affordability to Medicine</h1>
                <p class="text-md">
                    Reach Out to <span class="font-semibold">
                        Andromeda Pharma
                    </span>Today!
                </p>
            </div>
        </div>
        <a
            href="/contact"
            class="bg-transparent text-center px-5 py-3 border border-white text-white font-medium max-w-fit rounded-md hover:bg-white hover:text-black ease-in duration-200"
            >Contact Us</a
        >
    </div>
</Layout>
