---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Andromeda Pharma">
    <div class="relative">
		<img
			src="/aboutImg.png"
			alt="main-hero-image"
			class="h-[60vh] md:h-[90vh] w-full object-cover"
		/>
		<div
			class="hero-text absolute top-[50%] md:top-[46%] translate-y-[-50%] p-10 flex flex-col gap-4"
		>
			<h1 class="text-xl md:text-4xl w-[95%] lg:w-[45%]  text-gray-800 leading-snug">
				Advancing Health, Enriching Lives. <span class="font-semibold">
					Andromeda Pharma
				</span>, Bringing Affordability to Medicine... <span
					class="font-semibold"
				>
					as life is precious.
				</span>
			</h1>
			<p class="text-base text-gray-600 w-[80%] md:w-[40%]">
   				We are a pharmaceutical company dedicated to making healthcare accessible for all. We prioritize affordability, developing innovative medicines and treatments that empower individuals to lead healthier lives. 
			</p>
			<a
				href="/about"
				class="bg-white p-4 text-center text-black font-medium max-w-fit rounded-sm hover:bg-blue-200 ease-in duration-200"
				>Know More</a
			>
		</div>
	</div>
    <div



        class="text-left flex flex-col gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
        <h2 class="text-center text-3xl text-gray-700 font-bold ">Our Story</h2>
        <p class="normal-case">
            Welcome to Andromeda Pharmaceuticals Pvt Ltd, where our commitment to affordable and quality healthcare is at the forefront of everything we do. Established with a vision to make a positive impact on global health, Andromeda Pharmaceuticals is dedicated to delivering innovative and accessible healthcare solutions.
        </p>
        <p class="normal-case">
            We believe that everyone deserves access to high-quality healthcare, regardless of their economic background. Our mission is to bridge the gap between healthcare and affordability, ensuring that life-changing treatments and medications are within reach for all.

        </p>
        <p class="normal-case">
            We take pride in our team of experienced professionals who work tirelessly to bring high-quality medicines to cater the healthcare needs. 
            Our diverse portfolio spans a wide range of therapeutic areas, addressing prevalent health challenges and catering to the diverse needs of patients worldwide. 
            Transparency, high commitment and social responsibility are the cornerstones of our business philosophy. We strive to build lasting relationships with healthcare professionals, partners, and the communities we serve. By fostering a culture of collaboration and continuous improvement, we aim to contribute to the betterment of global health outcomes.
            
        </p>
        <p class="normal-case">
            We are more than just a pharmaceutical company; we are a catalyst for positive change in the healthcare landscape. 
            Join us on our journey to redefine healthcare by making it more accessible, affordable, and of the highest quality. At Andromeda, we are committed to shaping a healthier and brighter future for all.
            
        </p>
    </div>
    <h2 class="text-center text-3xl text-gray-700 font-bold">Our Values</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700">
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Collaboration</h2>
            <p>
                We are committed to going above and beyond to meet the needs of our customers, ensuring exceptional service and unwavering support in every aspect of our business.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5  w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Integrity</h2>
            <p>
                We are committed to maintaining the highest ethical standards, fostering trust with our stakeholders, and upholding transparency in all aspects of our business.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5  w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Respect</h2>
            <p>
                We foster an inclusive and collaborative environment, valuing the diverse perspectives of our employees, clients, and partners to create a culture of mutual respect and understanding.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Commitment</h2>
            <p>
                We prioritize dedication to our clients, employees, and stakeholders, fostering long-lasting relationships built on trust and reliability.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Excellence</h2>
            <p>
                Excellence is not merely a goal at our company; it's the very essence of our culture. We strive to surpass expectations in every aspect, delivering unparalleled products and services to our valued customers.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5  w-[90%] md:w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">Innovation</h2>
            <p>
We foster a culture that encourages creative thinking, embraces new ideas, and continuously seeks inventive solutions to meet the ever-evolving needs of our customers.
            </p>
        </div>
    </div>

    <div
        class="py-10 px-10 bg-[#116A7B] w-full flex justify-between items-center"
    >
        <div class="flex gap-5 items-center justify-center">
            <img src="/Vectorbanner.png" alt="" class="h-10" />
            <div class="text-white">
                <h1 class="text-2xl">Bringing Affordability to Medicine</h1>
                <p class="text-md">
                    Reach Out to <span class="font-semibold">
                        Andromeda Pharma
                    </span>Today!
                </p>
            </div>
        </div>
        <a
            href="/contact"
            class="bg-transparent text-center px-5 py-3 border border-white text-white font-medium max-w-fit rounded-md hover:bg-white hover:text-black ease-in duration-200"
            >Contact Us</a
        >
    </div>
</Layout>
