---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Andromeda Pharma">
    <div class="relative">
        <img
            src="/aboutImg.png"
            alt="main-hero-image"
            class="h-[90vh] w-full object-cover"
        />
        <div
            class="hero-text absolute top-[46%] translate-y-[-50%] p-10 flex flex-col gap-4"
        >
            <h1 class="text-4xl w-[45%] text-gray-800 leading-snug">
                Advancing Health, Enriching Lives. <span class="font-semibold">
                    Andromeda Pharma
                </span>, Bringing Affordability to Medicine
            </h1>
            <p class="text-base text-gray-600 w-[40%]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod .do eiusmod .do eiusmod. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod .do eiusmod .do
                eiusmod .
            </p>
            <a
                href="/about"
                class="bg-white p-4 text-center text-black font-medium max-w-fit rounded-sm hover:bg-blue-200 ease-in duration-200"
                >Know More</a
            >
        </div>
    </div>
    <div
        class="text-left flex flex-col gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
        <h2 class="text-center text-3xl text-gray-700 font-bold">Our Story</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <h2 class="text-center text-3xl text-gray-700 font-bold">Our Values</h2>
    <div class="grid grid-cols-3 grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700">
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
        <div
            class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[20vw]"
        >
            <img src="/people.png" alt="" class="h-10 w-10"/>
            <h2 class="text-xl font-semibold">People First</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt eos repellat nobis cum mollitia quo qui.
            </p>
        </div>
    </div>

    <div
        class="py-10 px-10 bg-[#116A7B] w-full flex justify-between items-center"
    >
        <div class="flex gap-5 items-center justify-center">
            <img src="/Vectorbanner.png" alt="" class="h-10" />
            <div class="text-white">
                <h1 class="text-2xl">Bringing Affordability to Medicine</h1>
                <p class="text-md">
                    Reach Out to <span class="font-semibold">
                        Andromeda Pharma
                    </span>Today!
                </p>
            </div>
        </div>
        <a
            href="/contact"
            class="bg-transparent text-center px-5 py-3 border border-white text-white font-medium max-w-fit rounded-md hover:bg-white hover:text-black ease-in duration-200"
            >Contact Us</a
        >
    </div>
</Layout>
