---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <div
    class=" md:grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 items-center justify-center justify-items-center gap-[5rem] md:gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
>

        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/c40.png"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel 40</h2>
                <p class="text-base">
                    Telmisartan IP 40mg Tablet
                    The Cardiometabolic Sartan
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">For The Effective
                        Management of Hypertension</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/ct40.png"
                alt=""
                class="h-[50vh] object-cover"

            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel CT-40</h2>
                <p class="text-base">
                    Telmisartan IP 40 mg +
Chlorthalidone IP 12.5 mg Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">For Hypertension
                        Associated with Edema</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/ct625.png"
                alt=""
                class="h-[50vh] object-cover"

            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel TRIO 6.25</h2>
                <p class="text-base">
                    Telmisartan 40mg + Cilnidipine 10mg +
                    Chlorthalidone 6.25 mg Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">For Essential Hypertension
                        Uncontrolled by
                        Dual Anti-Hypertension Therapy</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/cln.png"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel LN</h2>
                <p class="text-base">
                    Telmisartan IP 40 mg +  Cilnidipine 10 mg Tablets. In HTN with Diabetes or CKD uncontrolled with monotherapy
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">In HTN with Diabetes or CKD uncontrolled with monotherapy</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/cb25.png"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel BETA 25</h2>
                <p class="text-base">
                    Telmisartan IP 40mg +
MetoProlol Succinate 25 mg (ER) Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">In The Management of Hypertension with CAD.</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/cb50.png"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Cardiotel BETA 50</h2>
                <p class="text-base">
                    Telmisartan IP 40mg +
                    MetoProlol Succinate 50 mg (ER) Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">In The Management of Hypertension with CAD.</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/v5010.png"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Victobet LN 50/10</h2>
                <p class="text-base">
                    Metoorolol Succinate (ER) &
Cinidipine Tablets
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                
                    <li><span class="font-normal">For superior control of hypertension and nephro-safety.</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
    </div>
</Layout>
