---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <div
    class=" md:grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
>

        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/neu.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Neuromeda</h2>
                <p class="text-base">
                   Methylcobalamin, Alpha Lipoic Acid, Folic Acid, Pyridoxine & Vitamin D3
Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">Diabetic Neuropathy
                        Chronic Pain
                        Neurodegenerative Disease</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/neu-f.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Neuromeda Forte</h2>
                <p class="text-base">
                    Pregabalin 75mg + Methylcobalamin 1500 mcg +
Nortriptyline 10 mg Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">For Sustained Guard
                        Against Neuropathic Pain</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/lyc.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Lycomeda</h2>
                <p class="text-base">
                    Lycopene with Multivitamin, 
                    Minerals Syrup &
                    Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">For Generalized Weakness and Debility</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/org.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">Orgacium</h2>
                <p class="text-base">
                    K2 Vital Delt,
                    Vitashine D3 
                    Tablet
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">Calcium Deficiency, Osteoporosis, Osteoarthritis, Bone Healing, Inflammation</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
