---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <h2 class="text-center text-3xl text-gray-700 mt-[10vh] font-bold">
        Our Products
    </h2>
    <div
        class=" grid grid-cols-1 md:grid-cols-3 md:grid-rows-2  items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
        <a href="/cardioprotective">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/heart.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Cardio-protective Range</h2>
                <p>
                    Our cardio protective range medicines offer advanced formulations designed to promote heart health and reduce cardiovascular risks. 
                </p>
            </div>
        </a>
        <a href="/urology">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/urology.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Urology Range</h2>
                <p>
                    A trusted and innovative lineup designed to address urinary health challenges with precision and care.
                </p>
            </div>
        </a>
        <a href="/nutraceuticals">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/well.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Nutraceuticals Range</h2>
                <p>
                    A curated selection of science-backed medicines crafted from natural ingredients, promoting holistic wellness.
                </p>
            </div>
        </a>
        <a href="">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/gas.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Gastroenterology Range</h2>
                <p>
                    From soothing antacids to advanced probiotics, our products are designed to alleviate discomfort and promote overall gastrointestinal wellness.
                </p>
            </div>
        </a>
        <a href="/antialergy">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/alergy.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Anti-alergic Range</h2>
                <p>
                    Say goodbye to sneezing, itching, and congestion, as our trusted formulations cater to all your anti-allergy needs.
                </p>
            </div>
        </a>
        <a href="/rheumatalogy">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/rheu.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Rheumatalogy Range</h2>
                <p>
                    Each product in our lineup is meticulously formulated to address specific symptoms, promote joint health, and restore mobility.
                </p>
            </div>
        </a>
    </div>
</Layout>
