---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <h2 class="text-center text-3xl text-gray-700 mt-[10vh] font-bold">
        Our Products
    </h2>
    <div
        class=" grid grid-cols-1 md:grid-cols-3 md:grid-rows-2  items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
        <a href="/cardioprotective">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/heart.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Cardio-protective Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
        <a href="/urology">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/urology.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Urology Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
        <a href="/nutraceuticals">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/well.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Nutraceuticals Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
        <a href="">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/gas.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Gastroenterology Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
        <a href="/antialergy">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/alergy.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Anti-alergic Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
        <a href="/rheumatalogy">
            <div
                class="about-card flex flex-col gap-4 bg-[#ECECEC] shadow-md p-5 w-[90%] md:w-[20vw]"
            >
                <img src="/rheu.png" alt="" class="h-10 w-10" />
                <h2 class="text-xl font-semibold">Rheumatalogy Range</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Nesciunt eos repellat nobis cum mollitia quo qui.
                </p>
            </div>
        </a>
    </div>
</Layout>
