---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <div
        class="grid grid-cols-3 grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >

        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/gc4.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">GCPred Tablet - 4</h2>
                <p class="text-base">
                    Methylprednisolone Tablet I.P.
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">More potent and More Selective
                        Glucocordicoid</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            
            </div>
        </div>
        <div class="flex flex-col bg-white rounded-md">
            <img
                src="/gc8.jpeg"
                alt=""
                class="h-[50vh] object-cover"
            />
            <div class="p-5 flex flex-col gap-2">
                <h2 class="font-medium text-2xl">GCPred Tablet - 8</h2>
                <p class="text-base">
                    Methylprednisolone Tablet I.P.
                </p>
                <ul class="mt-6 flex flex-col gap-4">
                    <li><span class="font-normal">More potent and More Selective
                        Glucocordicoid</li>
                    <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
