---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andromeda Pharma">
    <div
        class="grid grid-cols-3 grid-rows-2 items-center justify-center justify-items-center gap-11 my-[10vh] w-[90%] mx-auto text-gray-700"
    >
    <div class="flex flex-col bg-white rounded-md">
        <img
            src="/tamandro.png"
            alt=""
            class="h-[50vh] object-cover"
        />
        <div class="p-5 flex flex-col gap-2">
            <h2 class="font-medium text-2xl">Tamandro</h2>
            <p class="text-base">
                Tamsulosin 0.4 mg MR Tablet
            </p>
            <ul class="mt-6 flex flex-col gap-4">
            
                <li><span class="font-normal">In BPH Patients for
                    Long Term and Sustained Relief from LUTS.</li>
                <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
            </ul>
        
        </div>
    </div>
    <div class="flex flex-col bg-white rounded-md">
        <img
            src="/tamandroD.png"
            alt=""
            class="h-[50vh] object-cover"
        />
        <div class="p-5 flex flex-col gap-2">
            <h2 class="font-medium text-2xl">Tamandro D</h2>
            <p class="text-base">
                Tamsulosin 0.4 mg MR &
                Dutasteride 0.5 mg
                Bilayered Tablet
            </p>
            <ul class="mt-6 flex flex-col gap-4">
            
                <li><span class="font-normal">In BPH Patients for
                    Long Term and Sustained Relief from LUTS.</li>
                <li><span class="font-semibold">Quality Certification</span> - WHO, GMP</li>
            </ul>
        
        </div>
    </div>
    </div>
</Layout>
