---

---

<div class="bg-[#242424] h-[auto] flex justify-between px-10 py-11">
    <div>
        <h1 class="text-3xl font-bold text-white">Andromeda Pharma</h1>
        <div class="flex gap-7 mt-6 text-gray-100">
            <p><a href="/">Home</a></p>
            <p><a href="/about">About Us</a></p>
            <p><a href="/products">Products</a></p>
            <p><a href="/contact">Contact Us</a></p>
        </div>
        <hr class="mt-6">
        <p class="text-sm text-gray-100 mt-3">@2023 All copyrights reserved</p>
    </div>
</div>